# Compiled PyTorch and raw bin
*.safetensors

# Do not ignore CoreML package internal contents
!*.mlpackage/**/*.mlmodel
!*.mlpackage/**/*.bin

# Secrets
Flow_1/Core/Secrets.swift
Flow_1/Config.xcconfig
